/* ***************************
	SMACSS
	Order: base, layout, module, state;
   *************************** */



/* ***************************
   Base section
   *************************** */

body{
  font-family: 'Open Sans', sans-serif;

}


h1{
  border-bottom: 3px solid black;
}

footer a{
    padding: 8px;
    background-color: bisque;
}

form{
  margin-top: 80px;
  font-size: x-large;
}

.menu{
  margin-top: 20px;
}

.menu ul{
  display:flex;
  padding:0;
  margin:0;
  list-style-type:none;
}

.menu li{
  border:2px solid black; 
}

.primary, .container2 header, .container2 h2, .container3 header{
  font-family: 'Domine', serif;
  
}

.primary{
  font-size: 40px;
}

.primary a, .updates a, .signup a{
  text-decoration: none;
  color: black;
}


/* ***************************
   Layout section
   *************************** */

.container1{
  margin: 0 auto;
  width: 90%;
  line-height: 1.5em;
  background-image: url(../images/financial.jpg);
  background-size: cover;
  background-position: center;
}

.container2, .container3{
  margin: 0 auto;
  width: 90%;
  line-height: 1.5em;
}

.container1, .container2{
  max-width: 1000px;
}

.container3{
  max-width: 750px;
  background: lightgoldenrodyellow;
}

.container1{
  display: grid;
  grid-template-rows: 78px 568px 89px;
}


.persistent, footer, .updates, .signup{
  display: flex;
  justify-content: space-between;
}

.persistent, .updates, .signup{
  margin-top: 17px;
}

.div1, .div2, .div3{
  display: flex;
  justify-content: space-between;
}

.div1, .div3{
  margin-top: 30px;
}

.div1 .content1, .div2 .content2, .div3 .content3, .div1 .link1, .div2 .link2, .div3 .link3{
  width: 300px
}

figure{
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding-top: 57px;
}


.div1 ul, .div2 ul, .div3 ul{
  padding-left: 18px;
  padding-top: 24px;
}

.figure1, .figure2, .figure3{
  margin-left: 10px
}

.link1, .link2, .link3{
  margin-right: 10px;
}

blockquote {
  padding-left: 30px;
  border-left: 3px solid orange;
  margin-left: 0;
}

#only {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-basis: 20px;
  flex: 1;
}

.origin {
  font-size: 12px;
  margin-top: 30px;
}

.menu a{
  display: block;
  color: black;
  text-decoration:none;
  padding:2px;
}

.terminal a{
  display: block;
  color: black;
  text-decoration:none;
  background-color: orange;
  padding:3px;
}

form {
  color: white;
  background-color: #FFA500; 
  padding: 15px;
  margin-top: -60px;
  width: 50%;
}

form label{
  display: block;
  width: 250px;

}

form{
  margin: 0;
  padding-top: 15px;
  padding-left: 100px;

}

/* ***************************
   Module section
   *************************** */



.div1{
  background-color: antiquewhite;
  border-radius: 10px;
}

.divcomb{
  margin-top: 50px;
  background-color: aliceblue;
  border-radius: 10px;
}

a{
  text-decoration:none;
  color: #FF8C00;
}


/* ***************************
   State section
   *************************** */

.menu .is-current{
  background-color: orange;
  color:white;
}

